* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 25px;
}

.numbers {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}